.container {
  background-color: #fff;
  padding: 1rem 1rem 3rem 1rem;
}

.provinces {
  text-align: center;
}

.provinces__title {
  color: #06d6a0;
  margin-bottom: -1rem;
  font-size: 2.5rem;
}

.provinces__sub_title {
  color: #118ab2;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/* Medium Screen */
@media (min-width: 768px) {
  /* 
  \  Nothing Changes  \
  */
}

/* Large Screen */
@media (min-width: 992px) {
  .provinces__title {
    font-size: 3rem;
  }

  .provinces__sub_title {
    font-size: 1.3rem;
  }
}
